@font-face {
    font-family: "sofia-pro";
    src: local("sofia-pro"), url("./font/SofiaProMedium.woff2") format("woff2");
    font-style: normal;
    font-display: "swap";
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"),
        url("./font/SourceSansPro-Regular.ttf") format("woff2");
    font-style: normal;
    font-display: "swap";
    font-weight: 400;
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

#app {
    font-family: sofia-pro, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-substrate {
    height: 80px;
}

header {
    padding: 0 !important;
    position: fixed;
    width: 100%;
    top: 0px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    background-color: white;
    box-shadow: 0 1px 0 0 rgb(77 65 51 / 5%);
    z-index: 105;
}
