// colors
$body-bg: #f8fafc;
$primary: #4B49AC;
$success: #57B657;
$brand: #27367f;
$white: #fff;
$navbar-default-bg: $white;
$sidebar-light-bg: $white;
$navbar-menu-color: #6C7383;
$sidebar-light-menu-color: #6C7383;
$sidebar-light-menu-icon-color: $sidebar-light-menu-color;
$sidebar-light-menu-arrow-color: #686868;
$sidebar-light-menu-active-bg: #4B49AC;
$sidebar-light-menu-hover-bg: #4B49AC;
$sidebar-light-menu-active-color: $white;
$sidebar-light-menu-hover-color: $white;
$sidebar-light-submenu-color: $white;
$sidebar-light-submenu-hover-color: $white;
$sidebar-light-submenu-active-color: $white;

$sidebar-dark-bg: #232227;
$sidebar-dark-menu-color: #FFFFFF;
$sidebar-dark-menu-active-bg: #4B49AC;
$sidebar-dark-menu-active-color: $white;
$sidebar-dark-menu-hover-bg: #4B49AC;
$sidebar-dark-menu-hover-color: #fff;
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #9a94a7;
$sidebar-dark-menu-icon-color: $sidebar-dark-menu-color;
$sidebar-dark-profile-name-color: #ffffff;
$sidebar-dark-profile-title-color: #8d9498;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-primary: 'sofia-pro', "Helvetica Neue", Arial, sans-serif;
$font-family-secondary: "Source Sans Pro", sans-serif, Helvetica, Arial;
$default-font-size: .875rem;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbar-font-size: 1rem;
$sidebar-icon-font-size:  1rem;
$sidebar-submenu-font-size: .875rem;

//User variables
$navbar-height: 60px;
$sidebar-width-lg: 235px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;

$sidebar-menu-font-size: .875rem;
$sidebar-menu-padding-left: 1rem;
$sidebar-menu-padding-right: 1.937rem;
$sidebar-menu-padding-top: .8125rem;
$sidebar-menu-padding-bottom: .8125rem;
$sidebar-submenu-padding: .25rem 0 0 3.07rem;
$sidebar-submenu-item-padding: .7rem 1rem;

$action-transition-duration: 250ms;
$action-transition-duration-450: 450ms;
$action-transition-timing-function: ease;
